<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,300&display=swap" rel="stylesheet">
    <title>Bio Mind</title>
</head>
<body>
    <section class="secao">
        <div class="clientes_box">
            <div class="logo">
                <img src="assets/logo.png" alt="logo">
            </div>
            <form method="post">
                <input type="text" name="email" placeholder="Email" autofocus required>
                <input type="password" name="password" placeholder="Senha" required>
                <input type="submit" value="Entrar">
            </form>
            <p>Não possui conta? <a href="#">cadastrar</a></p>
        </div>
    </section>
</body>
</html>