body{
    background-image: url(/img/login-background.jpg);
    background-size: cover;
    }
    
    .secao{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
    }
    
    .clientes_box form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 40px ;
    }
    
    .clientes_box{
        height: 390px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(230, 230, 230);
        text-align: center;
        padding: 20px;
        border-radius: 20px;
    }
    
    .clientes_box input{
        margin-top: 15px;
        background-color:rgb(255, 255, 255);
        height: 40px;
        border-style:none;
        outline: none;
        border-radius: 10px;
        color: white;
        padding-left: 10px;
    }
    .clientes_box img{
        width: 130px;
        height: 80px;
    }
    .clientes_box input{
        height: 35px;
        padding-left: 10px;
        
    }
    
    form [type="submit"]{
        display: block;
        background-color:rgb(72, 167, 37);
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }